body {
        background: red;
}
.replayer-wrapper {
        position: relative;
}
.replayer-mouse {
        position: absolute;
        width: 20px;
        height: 20px;
        transition: 0.05s linear;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;base64PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggaWQ9InN2Z18xIiBkPSJtNDguNzcyNSw0Mi43ODVsLTE0LjYzLC0xNC42MmwxMC4yNSwtMTAuMjlhMSwxIDAgMCAwIC0wLjMzLC0xLjYxbC00MS42NSwtMTUuMzNhMSwxIDAgMCAwIC0xLjI5LDEuMjlsMTUuMzMsNDEuNjVhMSwxIDAgMCAwIDEuNjUsMC4zNmwxMC4yNSwtMTAuMjhsMTQuNjIsMTQuNjNhMSwxIDAgMCAwIDEuNDEsMGw0LjM4LC00LjM4YTEsMSAwIDAgMCAwLjAxLC0xLjQyeiIvPjwvc3ZnPg==");
}
.replayer-mouse::after {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: rgb(73, 80, 246);
        transform: translate(-10px, -10px);
        opacity: 0.3;
}
.replayer-mouse.active::after {
        animation: click 0.2s ease-in-out 1;
}

@keyframes click {
        0% {
                opacity: 0.3;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                transform: translate(-10px, -10px);
        }
        50% {
                opacity: 0.5;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                transform: translate(-5px, -5px);
        }
}
